/* The tooltiptext class holds the tooltip text.
It is hidden by default, and will be visible on hove */

.Hov .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  right: 105%;
  top: -5%;
}
.Hov:hover .tooltiptext {
  visibility: visible;
}
.Hov
{
  position: relative;
  display: inline-block;
}
.c1 {
  font-size: 14px;
}
.icons-box-section {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  border-width: 1px;
  border-color: black;
  margin: 6px;
}
