.testing
{
  font-size: 10px;
  font-weight: 100;
  color: red;
}
p
{
  display: inline-block;
}
.placeholder-ul {
  visibility: hidden;
}
.placeholder-li:hover {
  background: #f1f1f1;
}

div.DraftEditor-root {
}
div.DraftEditor-editorContainer {
  /*	  border: 1px solid #000;
  background-color: beige;
  height: 200px;
  width: 300px;
  overflow-y: auto;*/
}
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
div.public-DraftEditor-content {
}
div.toolbarCustomButtons {
  position: relative;
  width: 80%;
  background-color: lightsteelblue;
  padding: 10px 20px;
  margin: auto;
  top: 45px;
  text-align: right;
}
.editor {
  width: 95%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 135px;
  font-size: 40px;
}
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}
div.error-label {
  padding: 10px;
  color: #fff;
  background-color: #da362a;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 190px;
  margin: 30px;
}

div.error-label:before {
  content: " ";
  height: 0;
  position: absolute;
  width: 0;
  left: 18px;
  border: 10px solid transparent;
  border-right-color: #da362a;
}

.caret {
  margin-top: 8px;
  width: 0;
  height: 0;
  display: inline-block;
  border: 4px solid transparent;
  border-top-color: #2f4f4f;
}
.rdw-dropdown-wrapper {
  height: 18px;
  background: white;
  cursor: pointer;
  border: 1px #f1f1f1;
  border-radius: 2px;
  margin: 0 4px;
  text-transform: capitalize;
  background: white;
}
.rdw-option-wrapper {
  border: 1px solid #f1f1f1;
  padding: 5px;
  min-width: 25px;
  height: 20px;
  border-radius: 2px;
  margin: 0 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: white;
  text-transform: capitalize;
}
