/* The tooltiptext class holds the tooltip text.
It is hidden by default, and will be visible on hove */

.click .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: darkslategray;
  color: white;
  text-align: center;
  border-radius: 6px; /*round corners */
  padding: 5px 0;
  position: absolute; /* Position the tooltip txt*/
  z-index: 1;
}
.c1 {
  font-size: 14px;
}
.click:hover .tooltiptext {
  visibility: visible;
}

.icons-box {
  background-color: #fff;
  padding: 6px;
  border-radius: 5px;
  border-width: 1px;
  border-color: black;
  margin: 6px;
}
